* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "DM Mono", monospace;
  background-color: #110032;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.text{
  font-size: 1rem;
  color: white;
  letter-spacing: 4%;
}
@media screen and (width >= 390px){
  .text{
    font-size: 1.5rem;
  }
}
.password-container{
  margin-bottom: 1rem;
}
.placeholder-text{
  font-family: inherit;
  letter-spacing: 4%;
  font-size: 1rem;
  text-align: center;
  padding: 0.9063rem 0 0.9063rem 0;
  width: 20.5rem;
  border-radius: 0.5rem;
  background-color: #241442;
  color: white;
  border: none;
}
@media screen and (width >= 390px){
  .placeholder-text{
    padding: 0.9063rem 0 0.9063rem 0;
    width: 32.25rem;
    font-size: 1.5rem;
  }
}
.length-container{
  margin-bottom: 1rem;
}
.generator-button{
  font-family: inherit;
  letter-spacing: 4%;
  font-size: 1rem;
  color: white;
  width: 20.5rem;
  padding: 1.1875rem 4.8125rem 1.1875rem 4.8125rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right,#7944E7, #8300AB);
  border: none;
}
@media screen and (width >= 390px){
  .generator-button{
    width: 32.25rem;
    padding: 1.2188rem 10.6875rem;
  }
}
.range-container{
  padding: 1.2188rem 0.875rem 1.2188rem 0.875rem;
  background-color: #241442 ;
  width: 20.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (width >= 390px){
  .range-container{
    width: 32.25rem;
    padding: 0.9063rem 1rem 0.9063rem 1rem;
  }
}
.range-input{
  width: 15rem;
  accent-color: #7400E4;
  border: none;
}
@media screen and (width >= 390px){
  .range-input{
    width: 26rem;
  }
}